<h2>Student Invoice</h2>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <br>
    <br>
    <br>
    <table class="table table-hover">
      <tr>
        <td>Name</td>
        <td><%= item.firstname %></td>
      </tr>
      <tr>
        <td>Cohort</td>
        <td><%= item.cohort %></td>
      </tr>
      <tr>
        <td>Program</td>
        <td><%= item.program %></td>
      </tr>
      <tr>
        <td>City</td>
        <td><%= item.city %></td>
      </tr>
      <tr>
        <td>Balance Due</td>
        <td><%= item.balanceDue %></td>
      </tr>
    </table>

    <form action="/payinvoice" class="paymentform" method="post">
      <script src="//checkout.stripe.com/v2/checkout.js"
      class="stripe-button"
      data-key="<%= keyPublishable %>",
      data-locale="auto"
      data-description="Sample Charge"
      data-amount="<%= balanceDue %>"></script>
      <button type="submit">Submit Payment</button>
    </form>
    </div>
  <div class="col-md-4">
  </div>
</div>
